@use "mixins";
@use "variaveis";

.banner {
  background: variaveis.$gradiente;
  color: variaveis.$cor-branco;
  text-align: center;
  padding: 10vh 0;
  width: 100vw;

  &__image {
    width: 20%;
    max-width: 9rem;
    margin: auto;
    padding-bottom: 1.5rem;
  }

  @media (min-width: 1024px) {
    &__title {
      font-size: 3rem;
    }

    &subtitle {
      font-size: 1.4rem;
    }

    &__image {
      width: 9%;
    }
  }
}
