@use "mixins";
@use "variaveis";

.sobre {
  &__list {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      & {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  &__item {
    @include mixins.reset-list;
    @include mixins.border-radius;

    display: inline;
    width: fit-content;
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0.3rem 1rem;
  }
}
