// cores
$cor-branco: #fff;
$cor-roxo-claro: #9569c5;
$cor-roxo-medio:#613f86;
$cor-roxo-escuro: #281140;
$cor-cinza-claro: #666;
$cor-cinza-medio: #333;
$cor-cinza-escuro: #1e1e1e;
$gradiente: linear-gradient(to right, #9569c5, #281140);

$fonte-pricipal: "Segoe UI";
$espacamento-padrao: 1rem; 
$espacamento-metade: 0.5rem;
$extra-bold: 700;
$bold: 600;