@use "variaveis";

@mixin border-radius {
  border-radius: 1rem;
  box-shadow: 0 4px 4px #2811403d;
  border: solid 2px variaveis.$cor-roxo-claro;
}

@mixin reset-list {
  list-style: none;
  text-decoration: none;
  font-weight: variaveis.$bold;
}
