@use "variaveis";
@use "mixins";

.cabecalho {
  background: variaveis.$cor-primaria;
  color: white;
  @include mixins.espacamento-padrao; 
  // padding: variaveis.$espacamento-padrao;

  &_titulo {
    text-align: center;
  }
}