* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  overflow-x: hidden;
}

header {
  background-color: #1e1e1e;
  padding: 1.5rem 3rem;
}

.title{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #613f86;
}

section {
  padding: 4rem 2rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
}

@media (min-width: 1024px) {
  section {
    margin: 0 auto;
    padding: 4rem 10rem;
  }
}